[submodule "assignment1/bonnie"]
	path = assignment1/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment2/bonnie"]
	path = assignment2/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment3/bonnie"]
	path = assignment3/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment4/bonnie"]
	path = assignment4/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment5/bonnie"]
	path = assignment5/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment6/bonnie"]
	path = assignment6/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment7/bonnie"]
	path = assignment7/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment8/bonnie"]
	path = assignment8/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment9/bonnie"]
	path = assignment9/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment10/bonnie"]
	path = assignment10/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "assignment11/bonnie"]
	path = assignment11/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "finalproject/bonnie"]
	path = finalproject/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
[submodule "portfolio/bonnie"]
	path = portfolio/bonnie
	url = https://github.gatech.edu/sb300/bonnie-libsubmit.git
